:root {
    --color-bg:  #b0bcc4;   
    --input-color: var(--div-bg);
    --div-bg: #102e49;
    --color-border: #b9c3cc;
    --btn-bg: #b9c3cc;
    --btn-hover: #a9cdec;
    --text: #cddfe7;
    --text-title: #a9cdec;
    --text-label: #c0c6d4;
    --shadow: 0 4px 8px rgb(26, 31, 39);
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg);
}

.box{
    margin: 2rem 0;
    width: 60%;
    padding-block: 2rem;
    border-radius: 0.5rem;
    background-color: var(--div-bg);
    box-shadow: var(--shadow);
}

h2{
    color: var(--text-title);
}

.qrHeader{
    display: grid;
    padding: 2rem;
    gap: 1rem;
}

.inputDiv{
    display: grid;
    position: relative;
}

input[type="text"] {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
    background-color: var(--div-bg);
    color: var(--text);
    outline: none;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.479);
}

.entertext{
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 1rem;
    color: var(--text);
    text-align: center;
    transition: all 0.25s ease-out;
}

input:not(:placeholder-shown) + .entertext,
input:focus + .entertext{
    top: -0.7rem;
    left: 50%;
    color: var(--text-label);
    padding-inline: 0.2rem;
    transform: translateX(-50%);
    background-color: var(--div-bg);
}

select{
    padding: 0.1rem  0.8rem;
    border: none;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--div-bg);
    outline: none;
    color: var(--text);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.qrsize{
    color: var(--text-label);
}

.qrBody{
    display: grid;
    place-items: center;
    width: 100%;
}

.qrBody img{
    max-height: 80%;
    max-width: 80%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-border);
}

.qrFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    padding-top: 2rem;
    gap: 1rem;
    width: 100%;
}

button{
    padding: 0.35rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: var(--btn-bg);
}

button:hover{
    transform: translateY(-0.2rem);
    background-color: var(--btn-hover);
    color: black;
}

button:active{
    transform: scale(0.99);
    background-color: var(--btn-bg);
}

a{
    text-decoration: none;
    padding: 0.35rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: black;
    transition: all 0.2s linear;
    background-color: var(--btn-bg);
}

a:hover{
    transform: translateY(-0.2rem);
    background-color: var(--btn-hover);
    color: black;
}

a:active{
    transform: scale(0.99);
    background-color: var(--btn-bg);
}
